annotated-types==0.7.0
appdirs==1.4.4
arelle-release==2.37.27
asgiref==3.8.1
attrs==25.3.0
beautifulsoup4==4.13.4
bottle==0.13.4
certifi==2025.6.15
cffi==1.17.1
charset-normalizer==3.4.2
colorama==0.4.6
curl_cffi==0.11.3
dart-fss==0.4.13
Django==5.2.3
django-ninja==1.4.3
et_xmlfile==2.0.0
fake-useragent==2.2.0
filelock==3.18.0
finance-datareader==0.9.96
frozendict==2.4.6
idna==3.10
isodate==0.7.2
jsonschema==4.24.0
jsonschema-specifications==2025.4.1
lxml==5.4.0
multitasking==0.0.11
mysqlclient==2.2.7
narwhals==1.43.0
numpy==2.3.0
OpenDartReader==0.2.3
openpyxl==3.1.5
packaging==25.0
pandas==2.3.0
pandas-datareader==0.10.0
peewee==3.18.1
pillow==11.2.1
platformdirs==4.3.8
plotly==6.1.2
protobuf==6.31.1
pycparser==2.22
pydantic==2.11.7
pydantic_core==2.33.2
pyparsing==3.2.3
python-dateutil==2.9.0.post0
pytz==2025.2
referencing==0.36.2
regex==2024.11.6
requests==2.32.4
requests-file==2.1.0
rpds-py==0.25.1
six==1.17.0
soupsieve==2.7
sqlparse==0.5.3
termcolor==2.3.0
tqdm==4.67.1
typing-inspection==0.4.1
typing_extensions==4.14.0
tzdata==2025.2
urllib3==2.4.0
websockets==15.0.1
xmltodict==0.14.2
yaspin==3.1.0
yfinance==0.2.63
